* {
    margin: 0;
}

.header {
    padding: 174px 307px;
    text-align: center;
    color: #FFFFFF;
}

.header-bg {
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(/images/donation1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 669px;

}

.header-title {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;

}

.header-description {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
}

.btn-primary {
    background: #FF5959;
    border-radius: 5px;
    width: 160px;
    height: 56px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

/* Section-2 styles */

.section-2 {
    text-align: center;
}

.section-2-title {
    font-weight: 700;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 20px;
}

.section-2-description {
    margin-bottom: 50px;
    margin: 40px 375px;
    font-weight: 400;
    font-size: 18px
}

.section-2-amounts {
    display: flex;
    margin-left: 500px;
    gap: 22px;
    margin-bottom: 60px;
}

.section-2-amounts>div>h2 {
    padding: 43px 25px 44px 24px;
    text-align: center;

    border-radius: 5px;
}

.section-2-200tk {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
}

.section-2-h2 {
    background: #FAFAFA;
    color: #707070;
}

.other-amount {
    text-decoration: none;
    font-size: 18px;
    color: #B3B3B3;
}

div>.btn-primary {
    margin-top: 30px;
}

hr {
    margin: 9.5px 337px 30px 338px;
}

/* Section 2 styles */

.section-3-title {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 45px;
}

.section-3-description {
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-left: 375px;
    margin-right: 374px;
    margin-bottom: 50px;
}

.section-3-boxes {
    display: flex;
    gap: 24px;
}

.box-1 {
    margin-left: 157px;
    margin-top: 20px;
    margin-bottom: 130px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}

.box-1>h2 {
    padding: 30px 133px 16px 23px;
}

.box-1>i>img {
    padding: 63px 278px 30px 23px;
}

.box-1-title {
    font-weight: 600;
    font-size: 24px;
    color: #121212;
}

.box-1-description {
    margin: 16px 22px 54px 23px;
    font-size: 16px;
    color: #707070;
}

.box-2 {
    
    margin-top: 20px;
    margin-bottom: 130px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

.box-2>h2 {
    padding: 30px 133px 16px 23px;
}

.box-2>i>img {
    padding: 63px 278px 30px 23px;
}

.box-2-title {
    font-weight: 600;
    font-size: 24px;
    color: #121212;
}

.box-2-description {
    margin: 16px 22px 54px 23px;
    font-size: 16px;
    color: #707070;
}

.box-3 {
    background: #FFF4D6;
    margin-top: 20px;
    margin-bottom: 130px;
    margin-right: 155px;
    border-radius: 5px;
}

.box-3>h2 {
    padding: 30px 133px 16px 23px;
}

.box-3>i>img {
    padding: 63px 278px 30px 23px;
}

.box-3-title {
    font-weight: 600;
    font-size: 24px;
    color: #121212;
}

.box-3-description {
    margin: 16px 22px 54px 23px;
    font-size: 16px;
    color: #707070;
}
